<ion-content [fullscreen]="true">
  <div class="nav">
    <ion-icon
      name="arrow-back-outline"
      [routerLink]="['/info']"
    ></ion-icon>
    <ion-title class="profile">Tambah Informasi</ion-title>
  </div>
  <div class="container d-block justify-content-center py-3">
    <ion-title class="edit">Judul info :</ion-title>
    <ion-item>
      <ion-input  type="text" placeholder="Masukan judul"  [(ngModel)]="judul_info"></ion-input>
    </ion-item>
    <ion-title class="edit">Tanggal info :</ion-title>
    <ion-item>
      <ion-input  type="date" placeholder="Masukan judul"  [(ngModel)]="tgl_info"></ion-input>
    </ion-item>
    <ion-title class="edit">Isi Informasi :</ion-title>
    <ion-item>
      <ion-textarea placeholder="Masukan Informasi" rows="3"  [(ngModel)]="informasi"></ion-textarea>
        
    </ion-item>
   
    <div class="form-group mt-3">
      <ion-button (click)="addNewInfo()"  >Tambah Informasi</ion-button>
    </div>
  </div>
</ion-content>
