ion-content {
  font-family: "Poppins", sans-serif;
  --background: #f8f8f8;
  img {
    height: 250px;
    height: 250px;
    margin-top: 10%;
    color: white;
  }

  // --background: url('../../assets/Forest.jpg');
  text-align: center;
  width: 100vw; /* Gambar akan memiliki lebar sesuai dengan lebar layar */
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: center;
}

.custom-font {
  font-family: "Consolas", sans-serif;
}

.title {
  text-align: center;
  color: white;
  font-family: "Nunito";

  h3 {
    font-family: "Segoe UI";
    font-size: 20pt;
  }

  h5 {
    font-family: "Segoe UI";
  }
}

.reg {
  text-align: center;
  text-decoration: none;
  color: white;

  h3 {
    font-family: "Segoe UI";
    font-size: 15px; /* Atur ukuran font sesuai kebutuhan Anda */
  }

  h5 {
    font-family: "Segoe UI";
  }
}

.wrap-input {
  --background-color: gold; /* Ubah warna latar belakang ke warna gold */
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0 10px 30px 0px rgba(0, 145, 255, 0.12);
}

ion-input {
  display: block;
  width: 100%;
  background: transparent;
  font-family: "Consolas";
  font-size: 18px;
  line-height: 1.5;
  border: none;
  outline: none;
  height: 46px;
  padding: 0 20px 0 23px;
}

ion-toolbar {
  --background: transparent;
}

.container-form-btn {
  display: flex;
  justify-content: center;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 42px;
  background-color: #204431;
  border-radius: 20px;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  padding-top: 5px;
  transition: all 0.4s;
  box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.5);
}

.form-btn:hover {
  background-color: #28333b;
  box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.8);
}

.btn {
  font-size: 18px;
  color: #204431;
  text-transform: uppercase;
}

.powered-by {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: linear-gradient(to bottom, #00e51f, #005d2a);
  color: #fff;
  padding: 10px 0;
  font-size: 16px;
  font-family: Arial, sans-serif;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg, transparent 10%, rgba(255, 255, 255, 0.8), transparent 90%);
    animation: glitter 7s linear infinite;
  }
}

@keyframes glitter {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

.info-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
  color: linear-gradient(to bottom, #00e51f, #005d2a);
}
ion-toolbar,
ion-footer {
  --background: #204431;
  color: #e2e2e2;
}
.title-footer {
  font-size: 15px;
  text-align: center;
}