<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pesan" class="text"></ion-back-button>
    </ion-buttons>
    <ion-title class="text">873633939373887878</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="pt-1 mb-5" >
    <div >
      <div class="w-100 d-flex justify-content-end px-1">
        <div class="w-auto">
          <ion-card
            class="my-1"
            style="border-radius: 20px; --background: #f5f7f8"
          >
            <ion-card-header>
              <div class="d-flex justify-content-end">
                <div class="d-block text-end">
                  <ion-card-title
                    class="text-start w-100 d-flex justify-content-start"
                    style="font-size: 17px"
                    >Assalamualaikum</ion-card-title
                  >
                  <div class="w-100 d-flex justify-content-end mt-1 text-end">
                    <ion-card-subtitle class="text-end" style="font-size: 12px"
                      >29-12-12</ion-card-subtitle
                    >
                  </div>
                </div>
              </div>
            </ion-card-header>
          </ion-card>
        </div>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-textarea 
      autoGrow 
      rows="1" 
      placeholder="Send message" 
      class="ion-text-center" >
    </ion-textarea>
    <ion-buttons slot="end">
      <ion-fab-button  size="small" class="icon" >
        <ion-icon name="send"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>