<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      
      <ion-button  (click)="logout()">
        <ion-icon name="log-in-outline" style="color: white; font-size: 27px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-title
        style="
          color: white;
          font-weight: 400;
          font-family: 'Poppins', sans-serif;
          font-size: 18px;
        "
        >admin</ion-title
      >

      <ion-button class="bordered" fill="solid" color="light">
        <img src="/assets/image/admin (1).png" alt="admin" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-content [fullscreen]="true" class="bg">
  <div id="header">
    <h3 style="font-family: 'Poppins', sans-serif">ADMIN RT.05</h3>
    <div class="container">
      <p>Cari No Blok :</p>
      <div class="search-bar-container">
        <ion-searchbar
          search-icon="search-circle"
          show-clear-button="never"
          value="Never Show"
          placeholder="Search"
          [(ngModel)]="searchNumber"
        ></ion-searchbar>
        <ion-button class="search" (click)="searchnoBlok()">Cari</ion-button>
      </div>
    </div>
  </div>
  <h3
    style="
      color: #739072;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      margin-left: 18px;
      margin-bottom: 10px;
    "
  >
    Blok Kavling
  </h3>
  <ion-card class="form" *ngFor="let data of blokData" >
    <ion-card-content >
      <div class="content">
        <img class="icon" src="/assets/image/house (1).png" alt="icon.chat" />
        <h4 class="name">{{ data.no_blok }}-{{ data.nama_blok }}</h4>
      </div>
      <ion-button
        style="--background: #739072; color: white; width: 68%; text-align: center; border-radius: 10%; margin-right: 28px;"
        (click)="edit(data.kd_blok)"
        ><i class="bi bi-pencil-square"></i>Edit Data </ion-button
      >
      <ion-button class="del" style="--background: white; color:red; width: 18%; text-align: center;" (click)="confirmDelete(data.kd_blok)"
        ><ion-icon name="trash-outline"></ion-icon></ion-button
      >
    </ion-card-content>
  </ion-card>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button style="--background: #739072" routerLink="/t-blok">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
